<section style="margin-left: 1rem">
  <div>
    <button class="btn" [ngClass]="{ 'active' : isListView }" (click)="listView()">
      <i class="fa fa-bars"></i> List
    </button>
    <button class="btn" [ngClass]="{ 'active' : !isListView }" (click)="gridView()">
      <i class="fa fa-th-large"></i> Grid
    </button>
  </div>
  <br />

  <div [ngClass]="{'rowList': isListView,'rowGrid': !isListView}">
    <div #grid class="column" *ngFor="let data of topicDetails">
      <h2 style="color: black;">{{data.title}}</h2>
      <p>{{data.description}}</p>
    </div>
  </div>
</section>
